%h1
  Game Stat page

#stats-container
  game stats

#bottom-buttons
  %a.button{:href => "/some/route/twitter"} Tweet your Stats and get ..?
  %a.button{:href => "/game/new"} Play a new game
  %a.button{:href => "/paypal/stuff"} Get more funds to buy cooler fish.
