body {
  width: 1080px;
}

#bottom-buttons {
  width: 85%;
  margin: auto;
}

.box {
 height: 150px;
 width: 250px;
 background-color: yellow;
 display: inline-block;
 margin: 35px 2% 0 2%;
}

#stats-container {
width: 75%;
height: 450px;
margin: auto;
background-color: pink;
}

#game {
  position: relative;
  width: 880px;
  height: 600px;
  border: solid black 1px;
  margin: auto;
}

#aquaria-holder {
  width: 450px;
  height: 500px;
  border: dashed black 1px;
  float: left;
  bottom: 5px;
}

#supply-store {
  width: 350px;
  height: 600px;
  border: dashed blue 1px;
  float: right;
  bottom: 5px;
}

#aquaria-supply {
height:225px;
border: dashed yellow;
}

#species-supply {
height: 375px;
border: dashed green;
}

#counter {
  width: 100%;
  height:100px;
}

.users-aquarium {
  width: 210px;
  height: 150px;
  float:left;
  background-color: aqua;
  margin: 5px;
  display: inline-block;
}

.fish-div{
  height:61px;
  width:80px;
  background-color: blue;
  float:left;
  margin:6px 2px;
}

.fish-div,#water-maker,#food-maker:hover {
  cursor: pointer;
}

.fish-grab {
  height:40px;
  width:40px;
}

#food-maker {
  position:relative;
  top: 25%;
  left: 35%;
  height: 62px;
  width: 62px;
  border:1px dashed gray;
  text-indent: -9999px;
}

#water-maker {
  position:relative;
  top: 25%;
  left: 35%;
  height: 60px;
  width: 60px;
  border:1px dashed blue;
  text-indent: -9999px;
  vertical-align:bottom;
  display:table-cell; 
}

.start-game {
  position: relative !important;
  margin: auto !important;
}

.hidden {
  display: none;
}

.pellet {
  float:left;
  width: 2px;
  height: 2px;
}

.water {
  float:left;
  width: 2px;
  height: 2px;
}

.fish_pic {
  margin: 2px;
  height: auto;
  width: 56px;
  float: left;
}

.fish-in-aquarium {
  text-indent: -9999px;
  cursor: pointer;
}