%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"} Fishstore
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
        %li.active
        - if current_user
          %li
            %a Funds:
          %li
            %a
              = number_to_currency(current_user.funds)
          %li
            = link_to 'sign_out', destroy_user_session_path, :method => :delete
      %li.divider
