%h1
  NEW Game page


%a.button{:href => "/game/play"} Start the game


- @aquaria.each do |aquaria|
  .aquarium
    = link_to "Buy an Aquarium that can hold #{aquaria.fish_capacity} fish.", sell_me_path(id: aquaria.id), method: :post, class: 'button'