%h1
  pay game mode



-fish = @fish.first
= link_to "sell #{fish.name} the fish to customer", buy_me_path(id: fish.id), method: :post, class: 'button'



- @aquaria.each do |aquaria|
  .aquarium.users-aquaria
    = "user owns this aquarium that can hold #{aquaria.fish_capacity} fish."