#game-set-up
  #counter
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      .users-aquarium.droppable
        Aquarium that can hold 
        = users_aquarium.fish_capacity
        more fish
        = users_aquarium.id

  #supply-store
    #aquaria-supply
      #water-maker
    #species-supply
      #food-maker

= javascript_include_tag "play"


