%h1
  play game mode

#game-set-up
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      .users-aquarium.droppable
        Aquarium that can hold 
        = users_aquarium.fish_capacity
        more fish
        = users_aquarium.id

  #supply-store
    #aquaria-supply
      #water-maker
        water maker
    #species-supply
      #food-supply
        food supply


