#game
  #counter
  #aquaria-holder
    - @users_aquaria.each do |users_aquarium|
      .users-aquarium.droppable
        -if users_aquarium.fishes
          -users_aquarium.fishes.each do |fish|
            .fish-in-aquarium 
              = image_tag fish.species.image, :class => "fish_pic"
              fish
        %p.hidden= users_aquarium.id

  #supply-store
    #aquaria-supply
      #water-maker
        water
    #species-supply
      #food-maker
        food

= javascript_include_tag "play"


