#stats-container
  #instruction-text
    %h1
      You made it to Fish Friendzy
    %h4
      Where you can manage a fish store,
      %span
        just like you always wanted.....
    %h6
      To start off you'll need to set up your store for the day.
      %ul.set-up-instruction
        %li
          1st buy the aquariums you want to use.  The bigger they are, the more they cost and the more fish you can put in them.
        %li
          Next you'll want to buy fish and put them in your new aquariums.  The more expensive breeds are harder to take care of, but you can make more money when you sell them.
        %li
          When you're ready to start the day, well...   push the start button
      %img.instruction-pics
          
      %ul.game-play-instructions

  #bottom-buttons
    %a.button.bottom-nav.round{:href => "/some/route/twitter"} Tweet your Stats and get ..?
    %a.button.bottom-nav.round{:href => "/game/new"} Play a new game
    %a.button.bottom-nav.round{:href => "/paypal/stuff"} Get more funds to buy cooler fish.
